# Files
*~
*cache
*dat
*elc
.ido.last
.mc-lists.el
.projectile.projects
.recentf
.smex-items
annotations
bookmarks
helm-adaptive-history
history
tramp
org-clock-save.el

# Folders
.python-environments
elpa/
lisp/git-wip-timemachine/
lisp/lispy-mnemonic/
lisp/mark-lines/
url/
var/
