# Files
*~
*cache
*dat
*elc
*eld
.bts-project
.bts-query
.cider-history
.ido.last
.mc-lists.el
.org-id-locations
.python-environments
.recentf
.smex-items
bookmarks
history
tramp
custom.el
lisp/profile-dotemacs.el

# Folders
elpa/
ensime-servers/
image-dired/
lisp/git-wip-timemachine/
lisp/lispy-mnemonic/
lisp/mark-lines/
speed-type/
url/
var/
