# Files
*~
*cache
*dat
*elc
*eld
.cider-history
.ido.last
.mc-lists.el
.org-id-locations
.recentf
.smex-items
bookmarks
history
tramp
custom.el

# Folders
elpa/
ensime-servers/
image-dired/
lisp/git-wip-timemachine
lisp/lispy-mnemonic/
lisp/mark-lines/
speed-type/
url/
var/
