[submodule "ido-ubiquitous"]
	path = ido-ubiquitous
	url = https://github.com/technomancy/ido-ubiquitous
[submodule "ace-jump-mode"]
	path = ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode
[submodule "smex"]
	path = smex
	url = https://github.com/nonsequitur/smex/
