[submodule "ido-ubiquitous"]
	path = ido-ubiquitous
	url = https://github.com/technomancy/ido-ubiquitous
[submodule "ace-jump-mode"]
	path = ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode
[submodule "smex"]
	path = smex
	url = https://github.com/nonsequitur/smex/
[submodule "idle-require"]
	path = idle-require
	url = https://github.com/emacsmirror/idle-require
[submodule "python-pylint"]
	path = python-pylint
	url = https://github.com/emacsmirror/python-pylint
